<div class="container">
  <div class="row">
    <div class="col-6">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="border shadow-lg mt-5 rounded-5"
        style="padding: 10%"
      >
        <div class="form-group mt-2">
          <label class="mb-2">Username: </label>
          <input
            autofocus
            [class.is-invalid]="username.invalid && username.touched"
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="Email"
          />
          <div *ngIf="username.invalid && username.touched">
            <small *ngIf="username.errors?.['required']" class="text-danger"
              >Username is required</small
            >
          </div>
        </div>
        <div class="form-group mt-3">
          <label class="mb-2">Password:</label>
          <input
            formControlName="password"
            [class.is-invalid]="password.invalid && password.touched"
            type="password"
            class="form-control"
            placeholder="Password"
            required
          />
          <div *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors?.['required']" class="text-danger"
              >Password is required</small
            >
          </div>
        </div>

        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="btn btn-primary mt-3"
        >
          Login
        </button>
      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-2">
      <img
        src="https://play-lh.googleusercontent.com/qFsubsFkSJJJvpOLyjjp-1PLsPvVr5AmWWaaGk0wTJcjPE6HmZalZxGMDdY5MyAluw"
        class="img-fluid"
        alt="login image"
        height="400"
        width="400"
      />
    </div>
  </div>
</div>
