<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: teal; color: white">
          Group Name
        </div>
        <div class="card-body" style="background-color: rgb(245, 244, 236)">
          {{ groupDetails.groupName }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: teal; color: white">
          Group Description
        </div>
        <div class="card-body" style="background-color: rgb(245, 244, 236)">
          {{ groupDetails.description }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: teal; color: white">
          Created By
        </div>
        <div class="card-body" style="background-color: rgb(245, 244, 236)">
          {{ groupDetails.createdBy }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: teal; color: white">
          Created Date
        </div>
        <div class="card-body" style="background-color: rgb(245, 244, 236)">
          {{ groupDetails.createdDate | date : "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: teal; color: white">
          Group Members
        </div>
        <div class="card-body" style="background-color: rgb(245, 244, 236)">
          <ul>
            <li *ngFor="let member of groupDetails.groupMembers">
              {{ member }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
